<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

    .button{
        background-color: #4CAF50;
      border: none;
      color: white;
      padding: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    
    
    
    
</style>
<body>

    <%- include('./partials/flash') %>


    <h1 style='text-align: center;'>Create your Schema</h1>
   
    

    <form style='display: flex;flex-direction: column;justify-content: center;align-items: center;' action='/createmodel/<%=server._id%>' method='POST'>

        <label>Model name : </label>

        <input type='text' name='name' placeholder='Model name' required>

        <p>Schemas : </p>

        <div>

        <label>1.Name : </label>
        <input type='text' name='name1' placeholder='name' required>

        &nbsp&nbsp<label>Type : </label>
        <select id='type1' name='type1' required>

            <option value="string">String</option>
            <option value='number'>Number</option>
        
        </select>

        </div>

        <br><br>

        <div>

        <label>2.Name : </label>
        <input type='text' name='name2' placeholder='name' required>

        &nbsp&nbsp<label>Type : </label>
        <select id='type2' name='type2' required>

            <option value="string">String</option>
            <option value='number'>Number</option>
        
        </select>

        </div>

        <br><br>

        <div>

        <label>3.Name : </label>
        <input type='text' name='name3' placeholder='name' required>


        &nbsp&nbsp<label>Type : </label>
        <select id='type3' name='type3' required>

            <option value="string">String</option>
            <option value='number'>Number</option>
        
        </select>

        </div>

        <br><br>

        <button class='button' type='submit'>Save</button>



    </form>

    <br><br>


    <div style='display: flex;flex-direction: column;justify-content: center;align-items: center;'>

        <a href='/servershow/<%=server._id%>'><button class='button'>Back</button></a>
        
        
    </div>







</body>
</html>