<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<style>

.button{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}




</style>
<body>



<%- include('./partials/flash') %>
    
<h1 style='text-align: center;'> Create Servers  </h1>


<div>


<form style='display: flex;flex-direction: column;justify-content: center;align-items: center;' action='/createrouter/<%=server._id%>' method='POST'>

<label for='routername' >Router</label> <br>

<input type='text' id='routername' name='name' required> <br><br>

<select id='type' name='type' required>

    <option value="get">GET</option>
    <option value='post'>POST</option>

</select>

<br><br>

<button class="button">Submit</button>

</form>

</div>

<div style='display: flex;flex-direction: column;justify-content: center;align-items: center;'>

<a href='/servershow/<%=server._id%>'><button class='button'>Back</button></a>


</div>












</body>
</html>