<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<%- include('./partials/flash') %>
    
<form action='/createrouter/<%=server._id%>' method='POST'>

<label for='routername' >Router</label>

<input type='text' id='routername' name='name'>

<select id='type' name='type' required>

    <option value="get">GET</option>
    <option value='post'>POST</option>

</select>

<br><br>

<button type='submit'>Submit</button>



</form>



<a href='/servershow/<%=server._id%>'>Back</a>















</body>
</html>