<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<%- include('./partials/flash') %>


<form action='/createserver/new'  method='POST' >


    <label for='name'>Server name</label> <br>

    <input type='text' id='name' name='name' required>

    <br><br>

    <button type='submit'>Create server</button>


</form>


<br><br>

<% if(currentUser.server.length!=0){ %>
    
    <ul>

    <% for(s of currentUser.server){ %>
        
        <li><a href='/servershow/<%=s._id%>'><%=s.name%></a></li>
        
    <% } %> 

    </ul>

<% } %> 






</body>
</html>